<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".FooduApp"
        android:theme="@style/Theme.Foodu">
        <activity
            android:name="com.foodu.core.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- HomeActivity mới -->
        <activity
            android:name="com.foodu.features.home.ui.HomeActivity"
            android:exported="true" />
        <activity android:name=".features.order.ui.OrderHistoryActivity" />
        <activity android:name=".features.payment.ui.PaymentActivity" />
        <activity android:name=".features.home.ui.ProductViewActivity" />


        <!-- CartActivity mới -->
        <activity
            android:name="com.foodu.features.cart.ui.CartActivity"
            android:exported="true" />
    </application>

</manifest>